body {
    overflow-x: hidden;
    margin: 0px;

}

nav {
    width: 100%;
    height: 70px;
    background-color: #212529;
    display: flex;
    color: #fff;
    align-items: center;
    font-family: sans-serif;
    gap: 20px;
    padding: 0px 100px;
}

nav p:nth-child(1) {
    font-size: 20px;
    cursor: pointer;
}

nav p:nth-child(2) {
    margin-left: 60%;
    color: #fff;
    cursor: pointer;
}

nav p:nth-child(3) {
    color: #9B9D9E;
    cursor: pointer;
}

nav p:nth-child(4) {
    color: #9B9D9E;
    cursor: pointer;
}

nav p:nth-child(5) {
    color: #9B9D9E;
    cursor: pointer;
}

nav p:nth-child(3):hover {
    color: #ced0d1;
    cursor: pointer;
}

nav p:nth-child(4):hover {
    color: #ced0d1;
    cursor: pointer;
}

nav p:nth-child(5):hover {
    color: #ced0d1;
    cursor: pointer;
}

.first-part {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 50px;

}

.first-box {
    width: 90%;
    height: 400px;
    background-color: #F8F9FA;
    border-radius: 5px;
}

.first-box h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 60px;
}

.first-box h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    width: 83%;
    margin-left: 10%;
}

.button {
    width: 150px;
    height: 50px;
    background-color: #0D6EFD;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 42%;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #0753c4;
}

.last-part-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0px 110px;
}

.boxes {
    width: 350px;
    height: 200px;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin: 25px;
    font-family: sans-serif;
}

.boxes h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 25px;

}

.boxes h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    padding: 0px 10px;
}

.blue-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #3680FD;
   margin-top: -40px;
   margin-left: 40%;
   border-radius: 5px;
font-size: 28px;
color: #fff;
}


footer {
    width: 100%;
    height: 100px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
    color: #fff;
}