body {
    width: 100%;
    height: 100%;

}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h4-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    width: 78px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 50px;
    font-family: "Gilroy-Bold", sans-serif;
    color: rgba(27, 109, 241, 1);
}

.icons-background-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around;
    justify-self: flex-start; */
    gap: 330px;
    margin-top: 50px;
}

.icons-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 64px;
}

.icons-background:nth-child(1) {
    background-color: rgba(128, 174, 247, 1);
}

.icons-background:nth-child(2) {
    background-color: rgba(245, 194, 123, 1);
}

.icons-background:nth-child(3) {
    background-color: rgba(98, 245, 209, 1);
}

.icons-background:nth-child(4) {
    background-color: rgba(250, 157, 150, 1);
}

.subparagraph-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 20px;
}

.subparagraph-container p:nth-child(1) {
    width: 96px;
    height: 20px;
}

.subparagraph-container p:nth-child(2) {
    width: 187px;
    height: 20px;
}

.subparagraph-container p:nth-child(3) {
    width: 167px;
    height: 20px;
}

.subparagraph-container p:nth-child(4) {
    width: 106px;
    height: 20px;
}

.list-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin-top: 20px;
}

.ul-li-radius {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}

.ul-li-radius ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ul-li-radius ul li {
    width: 244px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(246, 248, 255, 1);
    margin-top: 30px;    
}
.ul-li-radius li {
    display: flex;
    align-items: center;
    justify-content: center; /* Buraya flexbox kodlarını ekleyince listelerin noktaları gitti, neden? */
    gap: 15px;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: -2%;
}

.ul-li-radius ul li img{
display: flex;
align-items: center;
justify-content: flex-start;
width: 20px;
height: 20px;
}
.right-end{
 margin-bottom: 100px !important;
}