* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* width: 100%; */
    background-color: rgb(238, 233, 228);
    overflow-x: hidden;
}

.general-container {
    display: flex;
    flex-direction: column;
}

.general-container img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 49%;
    /* height: 50%;  */
}

.left-general-container {
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 47%;
}

.left-top-container {
    width: 40%;
    font-weight: 550;
    /* height: 50%; */
    /* margin-top: 25px; */
    margin-top: -1000px;
}

.general-container p:nth-child(1) {
    width: 110px;
    height: 16px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #1B6DF1;
}

.general-container p:nth-child(2) {
    width: 449px;
    height: 92px;
    margin-top: 25px;
    font-size: 42px;
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: bold;
    color: #1F1F1F;
}

.general-container p:nth-child(3) {
    width: 539px;
    height: 87px;
    font-size: 18px;
    margin-top: 25px;
    color: rgba(115, 115, 115, 1);
    font-family: "Gilroy-Medium", sans-serif;
}

.blue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 318px;
    min-height: 56px;
    border-radius: 8px;
    background-color: rgba(80, 143, 244, 1);
    margin-top: 25px;
    padding: 12px, 16px, 12px, 16px;
    gap: 8px;
    transition: background-color 0.4s, color 0.4s;
}

.blue-button p:nth-child(1) {
    width: 200px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    transition: color 0.3s;
}

.blue-button img {
    width: 16px;
    height: 16px;
    transition: filter 0.3s;
}

.blue-button:hover {
    background-color: white;
}

.blue-button:hover p {
    color: rgba(80, 143, 244, 1);
}

/* .blue-button:hover svg {
    fill: rgb(80, 143, 244, 1); 
     transition: fill 0.3s;
} */
.left-bottom-container {
    /* display: flex; */
    width: 610px;
    height: 484px;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
margin-top: -800px;
}

.left-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 294px;
    height: 222px;
}

.top-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    min-height: 56px;
    border-radius: 16px;
    background-color: rgba(246, 248, 255, 1);
}

.subparagraphs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.subparagraphs p:nth-child(1) {
    width: 156px;
    height: 16px;
    font-size: 16px;
    color: rgba(31, 31, 31, 1);
    line-height: 16px;
    letter-spacing: -2%;
    margin-bottom: 3px;
    /* display: flex;
    justify-content: flex-start; */
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 600;

}

.subparagraphs p:nth-child(2) {
    width: 267px;
    height: 78px;
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
    line-height: 25.6px;
    letter-spacing: -2%;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
}

.right-general-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}