body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

nav {
    width: 100%;
    height: 50px;
    background-color: #F8F9FA;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 100px 0px;
    gap: 800px;
    /* buradaki kutuyu düzgün bir şekilde sağa hizalayamadım? */
}


nav ul {
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 15px;
    align-items: center;
}

nav ul li:nth-child(1) {
    font-size: 20px;
    color: #181819;
}

nav ul li:nth-child(3) {
    color: #707071;
}

nav ul li:nth-child(4) {
    color: #707071;
}

nav ul li:hover:nth-child(3) {
    color: #181819;
}

nav ul li:hover:nth-child(4) {
    color: #181819;
}

.dropdown a {
    display: block;
    color: #181819;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown button {
    background-color: transparent;
    border: none;
    color: #7A7B7B;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown .dropdown-content {
    position: absolute;
    background-color: white;
    border: 1px solid #d2d4d5;
    border-radius: 2px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:nth-child(2) {
    border-top: 1px solid #d2d4d5;
}

nav .box {
    width: 100px;
    height: 30px;
    gap: 10px;
    border: 1px solid #181819;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.box {
    width: 100px;
    height: 30px;
    gap: 10px;
    border: 1px solid #181819;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.box:hover {
    background-color: black;
    color: white;
}

.first-part {
    display: flex;
    padding: 90px;
    font-family: sans-serif;
}

.big-box {
    width: 50%;
    height: 700px;
    background-color: #DFE1E7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #72747A;
    font-size: 80px;
    font-weight: 100;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 50px;
    color: #212529;
}

/* .upper-part {} */

.upper-part p {
    margin: 10px;
    display: flex;
    align-items: center;
}

.upper-part p:nth-child(1) {
    font-size: 15px;

}

.upper-part p:nth-child(2) {
    font-size: 50px;
}

.upper-part p:nth-child(3) {
    font-size: 20px;
    gap: 10px;
}

.upper-part .line-through {
    font-size: 20px;
    text-decoration: line-through;
}

.bottom-part {
    font-size: 25px;
    font-weight: 300;
    padding: 40px 0px 0px;
}

input[type="number"] {
    width: 35px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid rgb(106, 155, 204);
    box-shadow: 0 0 10px rgba(106, 155, 204);
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bottom-box {
    display: flex;
    cursor: pointer;
}

.bottom-box .box {
    margin: 0px 20px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
    color: #212529;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 2px;
    gap: 3px;

}

.bottom-box .box:hover {
    background-color: black;
    color: white;
}

.bottom-box .box p {
    font-size: 14px;
    font-style: bold;
}

.bottom-box .box i {
    font-size: 15px;
}

.last-part {
    width: 100%;
    height: 700px;
    background-color: #F8F9FA;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 30px;
}

.last-part p {
    font-size: 30px;
}

.four-boxes {
    width: 300px;
    height: 200px;
    background-color: #DFE1E7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #717379;
    border-radius: 4px 4px 0px 0px;
}
.white-boxes {
    width: 300px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    color: #212529;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.white-boxes i {
    margin-right: 3px;
}

.white-boxes span {
    margin-bottom: 2px;
}

.fa-star {
    color: #FFC008;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    color: #FFFFFF;
}